.App {
  text-align: center;
  /* height: 100vh;
  overflow: hidden; */
}

.App-header {
  background-color: #929292;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: black;
}