body, html, #root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #929292;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.App-content {
  flex: 1;
  overflow-y: auto;
}